<ul id="page_links">

  <li>
    {% if page.page_name == 'index' %}
      <span class="current_page">Home</span>
    {% else %}
      <a href="/" title="Home">Home</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'keywords' %}
      <span class="current_page">JSON-Schema keywords</span>
    {% else %}
      <a href="/keywords.html" title="JSON-Schema keywords">JSON-Schema keywords</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'custom' %}
      <span class="current_page">Custom keywords</span>
    {% else %}
      <a href="/custom.html" title="Custom keywords">Custom keywords</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'faq' %}
      <span class="current_page">FAQ</span>
    {% else %}
      <a href="/faq.html" title="FAQ">FAQ</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'contribute' %}
      <span class="current_page">Contributing</span>
    {% else %}
      <a href="/contribute.html" title="Contributing">Contributing</a>
    {% endif %}
  </li>

</ul>
