img + span > .icon.outbound {
  display: none;
}

body {
  font-family: 'Raleway';
  font-weight: normal;
}

strong {
  font-weight: 550;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IstokWeb';
  font-weight: normal;
}

.custom-block.tip {
  border-color: $tipColor;
  background-color: $attentionBoxColor;
  color: $textColor;

  .custom-block-title {
    color: $textColor;
  }
}

.custom-block.warning {
  border-color: $warningColor;
  background-color: $attentionBoxColor;
  color: $textColor;

  .custom-block-title {
    color: $textColor;
  }
}

.custom-block.danger {
  border-color: $dangerColor;
  background-color: $attentionBoxColor;
  color: $textColor;

  .custom-block-title {
    color: $textColor;
  }
}

.sidebar nav.nav-links div.nav-item {
  display: none;
}

span.badge {
  font-family: 'Raleway';
  font-weight: 500;
}

.theme-code-group .token.string {
  color: $accentCode;
}

.theme-code-group button.theme-code-group__nav-tab.theme-code-group__nav-tab-active {
  border-color: $accentCode;
}

.navbar span.site-name {
  font-family: IstokWeb;
  font-weight: 500;
  font-size: 1.6em;
}

p.sidebar-heading {
  font-weight: 500;
  font-size: 1em;
}

a.sidebar-link.active {
  font-weight: 500!important;
}

@font-face {
  font-family: 'Raleway';
  src: url(/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'IstokWeb';
  src: url(/fonts/IstokWeb-Regular.ttf);
  font-weight: normal;
}
