$accentColor = #23c8d2
$textColor = #292828
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #23c8d2
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #f5775b
