$ajvBlueColor = #409cff
$ajvGreenColor = #1fdca3
$ajvRedColor = #f5775b

$tipColor = $ajvGreenColor
$warningColor = #f1f440
$dangerColor = $ajvRedColor
$attentionBoxColor = #f7f7f3

$accentColor = darken($ajvGreenColor, 15%)
$textColor = #292828
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = $ajvGreenColor
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = $ajvRedColor

$MQMobileNarrow = 480px
