$ajvBlueColor = #409cff
$ajvGreenColor = #23c8d2 // #1fdca3
$ajvRedColor = #f5775b

$tipColor = $ajvGreenColor
$warningColor = #f1f440
$dangerColor = $ajvRedColor
$attentionBoxColor = #f7f7f3

$accentColor = #07aab4 // darken($ajvGreenColor, 15%)
$accentCode = #7ec699
$textColor = #292828
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = $ajvGreenColor
$badgeWarningColor = #e9c400
$badgeErrorColor = $ajvRedColor

$MQMobileNarrow = 480px
$MQMobileSmall = 414px
