{{# def.definitions }}
{{# def.errors }}
{{# def.setup:'multipleOf' }}

{{# def.$data }}

var division{{=$lvl}};
if ({{# def.$dataNotType:'number' }}
    (division{{=$lvl}} = {{=$data}} / {{=$schemaValue}}) !== parseInt(division{{=$lvl}})) {
  {{# def.error:'multipleOf' }}
} {{? $breakOnError }} else { {{?}}
