{{# def.definitions }}
{{# def.errors }}
{{# def.setup:'multipleOf' }}

{{
  var $isData = it.opts.v5 && $schema.$data;
  var $divider = $isData
                  ? it.util.getData($schema.$data, $dataLvl, it.dataPathArr)
                  : $schema;
}}

var division{{=$lvl}};
if ({{?$isData}} typeof {{=$divider}} != 'number' || {{?}}
    (division{{=$lvl}} = {{=$data}} / {{=$divider}}) !== parseInt(division{{=$lvl}})) {
  {{# def.error:'multipleOf' }}
} {{? $breakOnError }} else { {{?}}
