{{# def.definitions }}
{{# def.errors }}
{{# def.setupKeyword }}
{{# def.$data }}

{{
  var $u = it.opts.unicodeRegExp ? '"u"' : '""';
  var $regExpCode = it.opts.regExp && it.opts.regExp.code !== 'new RegExp' ? 'regExp' : 'new RegExp';
}}

{{? $isData }}
  var {{=$valid}} = true;
  try {
    {{=$valid}} = {{=$regExpCode}}({{=$schemaValue}}, {{=$u}}).test({{=$data}});
  } catch(e) {
    {{=$valid}} = false;
  }
  if ({{# def.$dataNotType:'string' }} !{{=$valid}}) {
{{??}}
  {{
    var $regexp = it.usePattern($schema);
  }}
  if ({{# def.$dataNotType:'string' }} !{{=$regexp}}.test({{=$data}}) ) {
{{?}}
  {{# def.error:'pattern' }}
} {{? $breakOnError }} else { {{?}}
