<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Ajv : The fastest JSON Schema Validator">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/syntax.css">

    <title>{{page.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/epoberezkin/ajv">View on GitHub</a>

          <h1 id="project_title">Ajv</h1>
          <h2 id="project_tagline">The fastest JSON Schema Validator</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/epoberezkin/ajv/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/epoberezkin/ajv/tarball/master">Download this project as a tar.gz file</a>
            </section>

          <ul id="page_links">
            <li>
              {% if page.page_name == 'index' %}
                <span class="current_page">Home</span>
              {% else %}
                <a href="/" title="Home">Home</a>
              {% endif %}
            </li>
            <li>
              {% if page.page_name == 'keywords' %}
                <span class="current_page">JSON-Schema keywords</span>
              {% else %}
                <a href="/keywords.html" title="JSON-Schema keywords">JSON-Schema keywords</a>
              {% endif %}
            </li>
            <li>
              {% if page.page_name == 'custom' %}
                <span class="current_page">Custom keywords</span>
              {% else %}
                <a href="/custom.html" title="Custom keywords">Custom keywords</a>
              {% endif %}
            </li>
          </ul>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{content}}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Ajv maintained by <a href="https://github.com/epoberezkin">epoberezkin</a></p>
      </footer>
    </div>

  </body>
</html>
