{{# def.definitions }}
{{# def.errors }}
{{# def.setupKeyword }}
{{# def.$data }}

var constantSchema{{=$lvl}} = {{= $isData ? $schemaValue : 'validate.schema' + $schemaPath }};
var {{=$valid}} = equal({{=$data}}, constantSchema{{=$lvl}});
{{# def.checkError:'constant' }}
